*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

}*/
.navbar{
background: #EFEFEF ; !important;
}
.navbar-nav{
margin-left: 400px;
font-size: 20px;
}
h1{
color: red;
}
@media (max-width: 991px){
h1{
color: blue;
}
.navbar-nav{
margin-left: 0px;
}
.pic{
margin-lef


/*footer css starts here */
body{
overflow-x: hidden;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
.ftr1{
height: 400px;
background: #EFEFEF ;
margin-top: 500px;
}
@media(max-width: 991px){
.ftr1{
height: 600px;
}
}
.ftr2{
text-align: center;
color: darkslategrey;
font-size: 12px;
margin-top: 10px;

}
.c1{
color: black;
font-size: 35px;
font-family:'Padauk', sans-serif; ;
}

.c1 p{
font-size: 20px;
color: darkslategrey;
font-family: 'Padauk', sans-serif;


}

.c2 p{
font-family:'Padauk', sans-serif;
font-size: 30px;
font-weight: bolder;

}
.c2{
margin-left: 70px;
}
.c2 a{
text-decoration: none;
color: darkslategrey;
}
.c3{
text-align: center;
font-family:'Padauk', sans-serif;
font-size: 30px;
}
.c3 p{
font-weight: bold;
}
.c3 a{
text-decoration: none;
color:darkslategrey; 
font-size: 20px;
}
